<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Image analysis</title>
</head>
<style type="text/css">
	a {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-flex;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		position: absolute;
		left: 1;		
	}
</style>
<style type="text/css">
	p, ul {
		font-family: verdana;
		font-size: 150%;
		color: white;
		text-align: center;
	}
</style>
<body background="{% static 'clf/Images/background3.jpeg' %}">
	<img src="{{ img_path }}" width="224" height="120">
	<p></p>
	<a href="predict">Run Analysis</a>
</body>
</html>